@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #EEEEEE;
  font-family: "Diamond Sparkling","DiamondGrotesk","Bricolage Grotesque",'serif';
  font-weight: 600;
  font-style: normal;
}